@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Prompt", sans-serif;
  /* font-size: 62.5%; */
}

nav {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  padding: 12px 10px;
}

.nav-main {
  display: flex;
  gap: 23px;
}

.btn-primary {
  padding: 5px 10px;
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  background-color: #2f9e44;
  border-radius: 10px;
  transition: all 0.5s ease;
}

a:hover {
  background-color: #51cf66;
  color: #fff;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  color: #fff;
}

/* SECTION */
.intro-section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.intro-section::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/intro-bg.jpg");
  filter: brightness(15%);
  opacity: 80%;
  z-index: -1;
}

/* FORM */

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  margin-bottom: 10px;
}

.form-control--last-child {
  margin-bottom: 35px;
}

.form-control input {
  padding: 7px 15px;
  border: 3px solid #1c7ed6;
}

.form-control input::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

select {
  padding: 7px 12px;
  border: 3px solid #1c7ed6;
  color: #555;
}

.form-btns {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
  color: #222;
}

.main-form label,
span {
  font-size: 18px;
  color: #fff;
}

footer {
  background-color: #222;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
}

button {
  font-family: "Prompt", sans-serif;
  border: transparent;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #e03131;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff6b6b;
}

/* ********* */
.active-checkbox {
  accent-color: yellow;
}

#alert-msg {
  display: block;
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

#booked-price {
  text-align: center;
  color: #222;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 24px;
  letter-spacing: 2px;
}

.hide {
  display: none !important;
}

::selection {
  background-color: #f783ac;
  color: #fff0f6;
}
